USE [TUPPI]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 23/6/2023 17:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[idAutor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 23/6/2023 17:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[idLibro] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NULL,
	[autor] [int] NULL,
	[formato] [int] NULL,
	[fechaPublicacion] [date] NULL,
	[precio] [float] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autores] ON 

INSERT [dbo].[Autores] ([idAutor], [nombre]) VALUES (1, N'Borges')
INSERT [dbo].[Autores] ([idAutor], [nombre]) VALUES (2, N'Hernandez')
INSERT [dbo].[Autores] ([idAutor], [nombre]) VALUES (3, N'Allende')
SET IDENTITY_INSERT [dbo].[Autores] OFF
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([idLibro], [titulo], [autor], [formato], [fechaPublicacion], [precio]) VALUES (1, N'La casa de los espíritus', 4, 0, CAST(N'1982-05-12' AS Date), 1500)
INSERT [dbo].[Libros] ([idLibro], [titulo], [autor], [formato], [fechaPublicacion], [precio]) VALUES (2, N'mi libro', 2, 2, CAST(N'2023-06-21' AS Date), 3200)
INSERT [dbo].[Libros] ([idLibro], [titulo], [autor], [formato], [fechaPublicacion], [precio]) VALUES (3, N'Otro libro', 1, 2, CAST(N'2023-06-30' AS Date), 3500)
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
